
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> workbox-webpack-plugin ###
/public/service-worker.js*
/public/workbox-*.js*
###< workbox-webpack-plugin ###

/docker-compose.override.yml
/deployer/host.yml
