{% extends 'base.html.twig' %}

{% block title %}{{ title('app.support.title'|trans) }}{% endblock %}

{% block main %}
    {% include 'Common/_webpage_schema_org.html.twig' with {'name': 'app.support.title'|trans} %}
    {% include 'Common/_breadcrumbs_schema_org.html.twig' with {'breadcrumbs': [{'name': 'app.home.type'|trans, 'url': url('app_homepage')}, {'name': 'app.support.title'|trans, 'url': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}]} %}
    <div class="container !max-w-7xl py-14 -lg:py-12 -md:py-8">
        <h1 class="font-serif text-7xl text-color-3 !leading-tight mb-4 -md:text-5xl">{{ 'app.support.title'|trans }}</h1>
        {{ 'app.support.body'|trans|raw }}
    </div>
{% endblock %}
