{% extends 'base.html.twig' %}

{% block title %}{{ title('app.sales_condition.title'|trans) }}{% endblock %}

{% block main %}
    <div class="container !max-w-7xl py-14 -lg:py-12 -md:py-8">
        <h1 class="font-serif text-7xl text-color-3 !leading-tight mb-4 -md:text-5xl">{{ 'app.sales_condition.title'|trans }}</h1>
        {{ 'app.sales_condition.body'|trans|raw }}
    </div>
{% endblock %}
