<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="scroll-smooth">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{{ 'app.home.meta_title'|trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% include 'Common/_opengraph.html.twig' %}
        {% include 'Common/_twitter.html.twig' %}

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔌</text></svg>">

        {% include 'Common/_apple.html.twig' %}
        {% include 'Common/_assets.html.twig' %}
    </head>

    <body class="xt-body">
        <div class="overflow-hidden">
            {% include 'header.html.twig' %}
            <main>
                {% block main %}{% endblock %}
            </main>
            {% include 'footer.html.twig' %}
        </div>
    </body>
</html>
