<nav class="fixed w-full z-10 top-0 bg-color-1">
    <div class="h-1 z-20 top-0"></div>
    <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-center mt-0 py-3">
        <a href="{{ path('app_homepage') }}" class="font-serif text-xl text-color-3 leading-tight">Magentify</a>
    </div>
</nav>
